<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<main>
    <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4"> <%= title %></h1>
          <p class="lead">Hello, this is my Assignment Tracker Website!
            This Website was created for my INFR-3120U Assignment3,
            whose purpose is to demonstrate CRUD operations on a remote database.
            Have a look around!</p>
        </div>
      </div>
</main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>